<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Aidus{% endblock %}</title>

    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
        {% block stylesheets %}
            <link href="{{ asset('/styles/nav.css') }}" rel="stylesheet"/>
            <link href="{{ asset('/styles/articles.css') }}" rel="stylesheet"/>
            <link href="{{ asset('/styles/filtrage.css') }}" rel="stylesheet"/>
            <link href="{{ asset('/styles/filtrage-variables.css') }}" rel="stylesheet"/>
            <link href="{{ asset('/styles/main.css') }}" rel="stylesheet"/>
            <link href="{{ asset('/styles/pagination.css') }}" rel="stylesheet"/>
        {% endblock %}
    {% block javascripts %}{% endblock %}
</html>
